<%= form_for(@week) do |f| %>

<div class="field">
   <%= f.label :week_number %>
   <%= f.number_field :week_number %>
</div>

<div class="field">
   <% @days_for_a_week.each do |day|%>
   <%= f.fields_for :days, day do |f_days| %>

   <div class="field">
      <%= f_days.label "Day of the week" %>
      <%= f_days.text_field :name %>
   </div>
   <% end %>
   <% end %>
</div>

<div class="actions">
 <%= f.submit %>
</div>
<% end %>


