<%= form_for(@day) do |f| %>
<% if @day.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@day.errors.count, "error") %> prohibited this day from being saved:</h2>

  <ul>
    <% @day.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>

<div class="field">
  <% @wo_for_a_day.each do |workout| %>
  <%= f.fields_for :workouts, workout do |f_wo| %>
  <div class="field">
    <%= f_wo.label 'Name of Workout' %>
    <%= f_wo.text_field :name %>
    <div class="field">
      <ul>
        <li><%= f_wo.label :sets %>: <%= f_wo.text_field :sets %></li>
        <li><%= f_wo.label :reps %>: <%= f_wo.text_field :reps %></li>
      </ul>
    </div>
  </div>
  <% end %>
  <% end %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
