<%= form_for [@week, @day] do |f| %>
<% if @day.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@day.errors.count, "error") %> prohibited this day from being saved:</h2>

  <ul>
    <% @day.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>

<%= f.fields_for :workouts do |f_wo| %>
<div class="field">
  <%= f_wo.label 'workout name' %>
  <%= f_wo.text_field :name %> <br>
</div>
<div class="field">
  <%= f_wo.label :sets %>
  <%= f_wo.number_field :sets %> <br>
</div>
<div class="field">
  <%= f_wo.label :reps %>
  <%= f_wo.text_field :reps %>
</div>
<% end %>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
