<p id="notice"><%= notice %></p>

<h1>Listing Days for week <%= @week.week_number %></h1>
<% @days.each do |day| %>
  <h2><%= day.name %>:</h2>
  <ul>
  <% day.workouts.each do |workout| %>
    <li><%= workout.name %></li>
    <li><%= workout.sets %></li>
    <li><%= workout.reps %></li>
  <% end %>
  </ul>
<% end %>

<%= link_to 'New Day', new_week_day_path %>
