<p id="notice"><%= notice %></p>

<h1><%= @day.name %></h1>
<% @day.workouts.each do |wo| %>
<ol>
   <li><%= wo.name %></li>
   <ul>
      <li>Sets: <%= wo.sets %></li>
      <li>Reps: <%= wo.reps %></li>
   </ul>
</ol>
<% end %>

<hr>

<h3>Add new workout</h3>
<%= render "workouts/form", :@workout => Workout.new %>
